<div class="devise-title">
  基本情報の編集
</div>

<%= form_with model: @user, url: user_registration_path, class: "registrations-form", local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-3">
    <%= f.label "名前" %>
    <%= f.text_field :name, class:"form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label "メールアドレス" %>
    <%= f.text_field :email, class:"form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label "新しいパスワード" %>
    <%= f.password_field :password, class:"form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label "都道府県" %>
    <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"form-control"}) %>
  </div>
  <div class="mb-3">
    <%= f.label "市区町村" %>
    <%= f.text_field :city, class:"form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label "プロフィール" %>
    <%= f.text_area :profile, class:"form-control", id:"formGroupExampleInput" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="mb-3">
    <%= f.label "現在のパスワード (必須)" %>
    <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
  </div>

  <div class="col-12", id="registration-submit">
    <div class="registration-submit">
      <%= f.submit "編集する", class:"btn btn-primary" %>
    </div>
  </div>
<% end %>