<div class="card", id="tweet-box">
  <div class="card-body">
    <div class="user-name-time">
      <h5 class="card-title"><%= @tweet.user.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted", id="show-user-time"><%= @tweet.created_at.to_s.slice(0..18) %></h6>
    </div>
    <%= image_tag @tweet.image, class:"card-img-top" if @tweet.image.attached? %>
    <p class="card-text"><%= @tweet.text %></p>
  </div>
</div>

<div class="comments-content">
  <h3>コメント一覧</h3>
  <div id="comment-list">
    <% @comments.each do |comment| %>
      <div class="comment-content">
        <div class="comment-upper-content">
          <div class="comment-user-name">
            <%= comment.user.name %>
          </div>
          <div class="comment-created_at">
            <%= comment.created_at.to_s.slice(0..18) %>
          </div>
        </div>
        <div class="comment-lower-content">
          <%= comment.text %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="mb-3", id="comment-form">
    <input type="hidden", id="tweet_id", value=<%=@tweet.id%>>
    <%= form_with model:[@tweet, @comment], id:"comment-create-form" do |f| %>
      <%= f.text_field :text, class:"form-control", id:"exampleFormControlInput1" %>
      <%= f.submit "コメントする", class:"btn btn-primary", id:"comment-form-submit" %>
    <% end %>
  </div>
</div>