<div class="show-tweet-outer">
  <div class="card">
    <div class="card-body">
      <div class="tweet-upper-container">
        <div class="tweet-userName-date">
          <div class="card-title">
            <%= @tweet.user.name %>
          </div>
          <div class="card-subtitle mb-2 text-muted">
            <div class="tweet-date">
              <%= @tweet.created_at.strftime('%Y-%m-%d %H:%M') %>
            </div>
          </div>
        </div>
      </div>
      <div class="tweet-middle-container">
        <div class="tweet-image">
          <%= image_tag @tweet.image, class:"card-img-top" if @tweet.image.attached? %>
        </div>
        <div class="tweet-text">
          <%= @tweet.text %>
        </div>
      </div>
      <div class="tweet-lower-container">
        <%= form_with model:[@tweet, @good_tweet] do |f| %>
          <%= f.submit "いいね #{@tweet.good_tweets.count}", class:"btn btn-outline-warning", name:"good-tweet-submit" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="comment-outer">
  <div class="comment-title">
    コメント
  </div>
  <div id="comments-list">
    <% @comments.each do |comment| %>
      <div class="comment-inner">
        <div class="comment-upper-container">
          <div class="comment-user-name">
            <%= comment.user.name %>
          </div>
          <div class="comment-date">
            <%= comment.created_at.strftime('%Y-%m-%d %H:%M') %>
          </div>
        </div>
        <div class="comment-lower-container">
          <div class="comment-text">
            <%= comment.text %>
          </div>
          <div class="comment-destroy-form">
            <% if comment.user_id == current_user.id%>
              <%= form_with url: "/tweets/#{@tweet.id}/comments/#{comment.id}", method: :delete do |f| %>
                <%= f.submit "削除", class:"btn btn-outline-secondary", name:"comment-destroy-submit" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="mb-3", id="comment-form">
    <input type="hidden", id="tweet_id", value=<%=@tweet.id%>>
    <%= form_with model:[@tweet, @comment], id:"comment-create-form" do |f| %>
      <%= f.text_field :text, class:"form-control", id:"exampleFormControlInput1" %>
      <%= f.submit "コメントする", class:"btn btn-primary", id:"comment-form-submit" %>
    <% end %>
  </div>
</div>