<div class="expense-index-container">

  <%# カレンダーの部分 %>
  <div class="calendar-outer">
    <%= month_calendar do |date| %>
      <% a_day_expense = 0 %>
      <% @expenses.each do |expense| %>
        <% if expense.date == date.to_s %>
          <% a_day_expense += expense.value %>
        <% end %>
      <% end %>
      <%= date.day %>
      <div class= "calendar-inner">
        <%= link_to "#{a_day_expense}円", new_expense_path(date) %>
      </div>
    <% end %>
  </div>

  <%# カテゴリ別金額の部分 %>
  <div class="categorized-expenses-list-outer">
    <div class="categorized-expenses-list-title">
      カテゴリ別金額
    </div>
    <div class="categorized-expenses-list-inner">
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>合計金額</td>
            <td><%= @total_expense %>円</td>
          </tr>
          <% @category.each do |category| %>
            <% categorized_expense = 0 %>
            <% @expenses.each do |expense| %>
              <% if expense.category_id == category.id %>
                <% categorized_expense += expense.value %>
              <% end %>
            <% end %>
            <% if categorized_expense != 0 %>
              <tr>
                <td><%= category.name %></td>
                <td><%= categorized_expense %>円</td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>