<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="expense-new.css">
    <title>expenses-new</title>
  </head>
  <body>
    <div class="upper-contents">
      <div class="month">
        <div>前の日</div>
        <div><%=@date.slice(5..6).to_i%>月<%=@date.slice(-2..-1)%>日</div>
        <div>次の日</div>
      </div>
      <div id="total-value-space">
      </div>
    </div>
    <div class="main-contents">
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th scope="col">名前</th>
            <th scope="col">カテゴリ</th>
            <th scope="col">値段</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="list">
          <% @expenses.each do |expense| %>
            <tr>
              <td></td>
              <td><%= expense.name  %></td>
              <td><%= expense.category.name %></td>
              <td name="expense-value"><%= expense.value %></td>
              <td>編集 / 削除</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="lower-contents">
      <%= form_with(model:@expense, id:"expense-form", local:true) do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        <div class="row g-3">
          <div class="col">
            <%= f.date_field :date, class:"form-control", id:"form-date" %>
          </div>
          <div class="col">
            <%= f.text_field :name, placeholder:"名前", class:"form-control", id:"form-name" %>
          </div>
          <div class="col">
            <%= f.text_field :value, placeholder:"値段", class:"form-control", id:"form-value" %>
          </div>
          <div class="col">
            <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"form-control", id:"form-category_id"}) %>
          </div>
          <div class="col">
            <%= f.submit "登録", class:"btn btn-primary", id:"expense-submit"%>
          </div>
        </div>
      <% end %>
    </div>
  </body>
</html>