<div class="expense-new-container">

  <div class="expense-new-upper-container">
    <div class="expense-new-date">
      <%=@date.slice(5..6).to_i%>月<%=@date.slice(-2..-1).to_i%>日
    </div>
    <div id="total-value-space">
    </div>
  </div>

  <div class="expense-new-lower-container">
    <div class="registered-expenses-list">
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th scope="col">名前</th>
            <th scope="col">カテゴリ</th>
            <th scope="col">値段</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="expenses-list">
          <% @expenses.each do |expense| %>
            <tr>
              <td></td>
              <td><%= expense.name  %></td>
              <td><%= expense.category.name %></td>
              <td name="expense-value"><%= expense.value %></td>
              <td>
                <div class="expense-edit-destroy-forms">
                  <%= form_with url: "/expenses/#{expense.id}/edit", method: :get do |f| %>
                    <%= f.submit "編集" ,class:"btn btn-outline-secondary", name:"get-submit" %>
                  <% end %>
                  <%= form_with url: "/expenses/#{expense.id}",class:"expense-destroy-form", method: :delete do |f| %>
                    <%= f.submit "削除" ,class:"btn btn-outline-secondary", name:"destroy-submit" %>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="register-expense-form">
      <%= form_with model:@expense, id:"expense-form" do |f| %>
        <%= f.hidden_field :date, value: @date %>
        <div class="form-input">
          <%= f.label :name, "名前" %>
          <%= f.text_field :name, class:"form-control", id:"input-name" %>
        </div>
        <div class="form-input">
          <%= f.label :value, "値段" %>
          <%= f.text_field :value, class:"form-control", id:"input-value" %>
        </div>
        <div class="form-input">
          <%= f.label :value, "カテゴリ" %>
          <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"form-control", id:"input-category_id"}) %>
        </div>
        <div class="form-submit">
          <%= f.submit "登録", class:"btn btn-primary", id:"expense-submit"%>
        </div>
      <% end %>
    </div>
  </div>

</div>